<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://bin.bnbstatic.com/static/images/common/favicon.ico">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="{% static 'css/style.css' %}?ver={% now 'u'  %}">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}?ver={% now 'u'  %}"></script>
</head>
<body>
    <div align="center" style="text-transform:uppercase">
        <a href="{% url 'index'         %}"><img style="padding: 10px 10px 1px 10px;" src="{% static 'img/1/portfolio.png'   %}" width="62" title="Портфель">               </a>
        <a href="{% url 'stats'         %}"><img style="padding: 10px 10px 1px 10px;" src="{% static 'img/1/stats.png'       %}" width="62" title="Статистика">             </a>
        <a href="{% url 'operations'    %}"><img style="padding: 10px 10px 1px 10px;" src="{% static 'img/1/operations.png'  %}" width="62" title="Список операций">        </a>
        <a href="{% url 'admin:index'   %}"><img style="padding: 10px 10px 1px 10px;" src="{% static 'img/1/admin.png'       %}" width="62" title="Панель администратора">  </a>
    </div>
{% block content %}
{% endblock %}
    <a href="{% url 'test'   %}"><p align="center"><code>{{ page_load }}</code></p></a>
</body>
</html>