{% extends 'main/base.html' %}

{% load main_filter %}

{% load static %}

{% block title %}
    ПОРТФЕЛЬ
{% endblock %}

{% block content %}

<hr class="balance">

<table class="balance">
    <tr>
        <td> {{ usdt }} </td>
        <td> {{ btc }} </td>
    </tr>
</table>

<hr class="index">

{% if tikers %}
    {% for t in tikers.values %}
        {% ifchanged %}
    <table class="table_index">
        <tr>
            <td rowspan="2" style="width: 70px; " align="center">
                <img src="{% static 'img/' %}{{ t }}.png" height="50">
            </td>
            <td align="left">
                {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                    <span class="profit">
                {% else %}
                    <span class="loss">
                {% endif %}
                <a href="{% url 'index' %}tiker/{{ t }}">
                    {{ t }}
                </a></span>
            </td>
            <td  align="right">
                {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                    <span class="profit">
                {% else %}
                    <span class="loss">
                {% endif %}
                {{ in_positions|get_value_from_dict:t }} $</span>
            </td>
        </tr>
        <tr>
            <td align="left">
                {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                    <span class="profit">
                {% else %}
                    <span class="loss">
                {% endif %}
                {{ quantitys|get_value_from_dict:t }} </span>
                •
                {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                    <span class="profit">
                {% else %}
                    <span class="loss">
                {% endif %}
                {{ courses|get_value_from_dict:t }} $</span>
            </td>
            <td align="right">

                {% if t != 'USDT' %}
                    {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                        <span class="profit">▲
                    {% else %}
                        <span class="loss">▼
                    {% endif %}
                    {{ profilos_money|get_value_from_dict:t }} $</span>
                    {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                        <span class="profit">
                    {% else %}
                        <span class="loss">
                    {% endif %}
                    ({{ profilos_percent|get_value_from_dict:t }} %)</span>
                {% endif %}
            </td>
        </tr>
    </table>
<hr class="index">
        {% endifchanged %}
    {% endfor %}
    {% else %}
        ничего нет :(
    {% endif %}
{% endblock %}
