{% extends 'main/base.html' %}

{% load static %}

{% load main_filter %}

{% block title %}
    СТАТИСТИКА
{% endblock %}

{% block content %}

<table class="balance">
    <tr>
        <td>
           ${{ usdt }}
        </td>
        <td>
            ₿{{ btc }}
        </td>
    </tr>
</table>

<p align="center">
    <a href="{% static 'img/stats/movie.gif' %}" target="_blank" >gif</a>
    <img src="{% static 'img/pie.png' %}" height="350" onclick="changeSizeImage(this)" >
</p>

<br>
    <table class="table_sort">
        <thead>
        <tr>
            <th data-order="-1" class="sorted">Тикер</th>
            <th>Средняя, $</th>
<!--            <th>-></th>-->
            <th>Курс, $</th>
            <th> $</th>
            <th> %</th>
            <th>Кол-во</th>
            <th>Было, $</th>
<!--            <th>-></th>-->
            <th>Сейчас, $</th>
        </tr>
        </thead>
        <tbody>
        {% if tikers %}
            {% for t in tikers.values %}
                {% ifchanged %}
                {% if quantitys|get_value_from_dict:t != 0 %}
                    <tr>
                        <td>
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            <a href="{% url 'index' %}tiker/{{ t }}" about="_blank">
                                <img src="{% static 'img/' %}{{ t }}.png" height="12">
                                {{ t }}
                            </a></span>
                        </td>
                        <td align="center">
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            {{ middles|get_value_from_dict:t }} $</span>
                        </td>
<!--                        <td align="center"> -> </td>-->
                        <td align="center">
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            {{ courses|get_value_from_dict:t }} $</span>
                        </td>
                        <td>{% if t != 'USDT' %}
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                             {{ profilos_money|get_value_from_dict:t }} $ </span>
                            {% else %}<span class="profit">-</span>
                            {% endif %}
                        </td>
                        <td>{% if t != 'USDT' %}
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            {{ profilos_percent|get_value_from_dict:t }} %</span>
                            {% else %}<span class="profit">-</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            {{ quantitys|get_value_from_dict:t }} {{ t }}</span>
                        </td>
                        <td>
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            {{ volumes|get_value_from_dict:t }} $</span>
                        </td>
<!--                        <td align="center"> -> </td>-->
                        <td>
                            {% if profilos|get_value_from_dict:t  == 'PROFIT' %}
                                <span class="profit">
                            {% else %}
                                <span class="loss">
                            {% endif %}
                            {{ in_positions|get_value_from_dict:t }} $</span>
                        </td>
                    </tr>
                {% else %}

                {% endif %}
                {% endifchanged %}
            {% endfor %}
        {% else %}
            ничего нет :(
        {% endif %}
        </tbody>
    </table>
{% endblock %}
