{% extends 'main/base.html' %}
{% load static %}

{% load main_filter %}

{% block title %}
    {{ tiker }}
{% endblock %}

{% block content %}

<table class="table_index">
        <tr>
            {% for t in all_tikers_sort %}
               {% ifchanged %}
                <td  style="width: 40px; " align="center">
                    <a href="{% url 'index' %}tiker/{{ t }}"><br>
                        <img src="{% static 'img/' %}{{ t.tiker }}.png"
                             {% if t.tiker == tiker %}
                                height="60"
                             {% else %}
                                height="40"
                             {% endif %}
                        >
                        {{ t.tiker }} </a>
                </td>
                {% endifchanged %}
            {% endfor %}
        </tr>
</table>

<table class="table_tiker">
    <caption>1 {{ tiker }} = {{ course }} $</caption>
    <tr>
        <td colspan="2"> {{ profilos }} </td>
        <td>Оборот</td>
        <td>Реальное Количество</td>
        <td>Средняя</td>
        <td>Объем</td>
        <td>В позиции, $</td>
        <td>Комиссия</td>
    </tr>
    <tr>
        <td>{{ delta_money }}$</td>
        <td>{{ delta_percent }}%</td>
        <td> {{itogo}} {{tiker}}</td>
        <td> {{itogo_real}} {{tiker}}</td>
        <td> {{ middle_course }} $</td>
        <td> {{ volume }} $</td>
        <td>{{ in_position }} $</td>
        <td>{{ comission }} $</td>
    </tr>
</table>

<form method="post">
{% csrf_token %}
<table class="table_dark">
<caption>Добавить операцию</caption>
<tr>
    <td>Тикер</td>
    <td>Тип позиции</td>
    <td>Количество</td>
    <td>Цена</td>
    <td></td>
<!--<td>Вкл/выкл</td>-->
</tr>
<tr>
    <td>
        <input type="text" name="tiker" value="{{ tiker }}">
    </td>
    <td>
        <select name="pozition" size="1">
        <option value="купил">Купил</option>
        <option value="продал">Продал</option>
        </select>
    </td>
    <td>
        {{ form.quantity }}
    </td>
    <td>
        <input type="text" name="price" id="price" value="{{ course }}">
    </td>
    <td>
        <button type="submit">ДОБАВИТЬ</button>
    </td>
<!--<td> <input type="checkbox" name="on_off"> </td>-->
</tr>
</table>
<span>{{ error }}</span>
</form>
<form method="post">
    {% csrf_token %}

    <table class="table_operations">
    <caption>История операций {{ tiker }}</caption>
    <tr>
        <td>Тикер</td>
        <td>Тип позиции</td>
        <td>Количество</td>
        <td>Дельта</td>
        <td>Цена</td>
        <td>Сумма</td>
        <td>Комиссия</td>
        <td>Дата</td>
        <td>Время</td>
        <td>Удалить</td>
    </tr>
    {% if active %}
        {% for a in active %}
        <tr>
            <td><a href="{% url 'index' %}tiker/{{ a.tiker }}">{{ a.tiker }}</a></td>
            <td>{{ a.pozition }}</td>
            <td>{{ a.quantity }} {{ a.tiker }}</td>
            <td>{{ a.quantity_real }} {{ a.tiker }}</td>
            <td>{% if a.tiker != 'USDT' %}
                    {{ a.price }}$
                {% else %}
                    1$
                {% endif %}
            </td>
            <td>{{ a.summa}}$ </td>
            <td>{{ a.comission}}$ </td>
            <td>  </td>
            <td>  </td>
            <td>
                <input type="checkbox" name="del_{{ a.id }}">
                <button type="submit">del</button>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        %(
    {% endif %}
    </table>

</form>



{% endblock %}
