a {
  color: rgb(6, 84, 119);
  /*transition: 0,1s;*/
}

a:visited {
  color: rgb(6, 84, 119);              /* Цвет посещённой ссылки */
}

a:hover {
  color: #cf0000;                   /* Цвет ссылки при наведении на нее мыши */
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.spisok {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: red;
}

.table_dark {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 98%;
	text-align: right;
	border-collapse: collapse;
	background: #fff;
	margin: 10px;
padding: 10px;
}
.table_dark caption {
	color: #000;
	border: 1px solid #000;
	padding: 12px 12px;
	text-align: center;
font-size: 22px;
}
.table_dark td {
	color: #000;
	border:1px solid black;
	padding: 7px 17px;
}
.table_dark tr:hover td {
	text-decoration: underline;
	color: red;
	background-color: #ffc;
}
.table_dark caption, .table_dark td:first-child, .table_dark thead {
	text-align: center;
	background-color: #ffc;
}
.table_dark caption, .table_dark thead {
	text-align: center;
	background-color: #ffc;


}
.table_dark thead td {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: -50px;
	border:1px solid black;
	background-color: #ffc;
}


.table_tiker {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	background: #fff;
	margin: 10px;
	padding: 10px;
	background-color: #ffc;

}
.table_tiker caption {
	color: #000;
	border: 1px solid #000;
	padding: 12px 12px;
	text-align: center;
	font-size: 22px;
	background-color: #ffc;

}
.table_tiker td {
	color: #000;
	border:1px solid black;
	padding: 7px 17px;
}
.table_tiker tr:hover,
.table_tiker tr: td {
	text-decoration: underline;
	color: red;
	/background-color: #ffc;
}





.table_sort {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 90%;
	text-align: center;
	border-collapse: collapse;
	border: 1px;
    margin: auto;
}

.table_sort tr:hover td {
	text-decoration: underline;
	color: black;
	background-color: #ffc;
}

.table_sort th {
    background: #ccc;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    	font-size: 16px;


}

.table_sort td, th {
    border: 2px solid #846868;
	color: #000;
	border:1px solid black;
	padding: 7px 17px;
}

.table_sort tbody tr:nth-child(even) {
    background: #f3f3f3;

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}
}

